.main-footer {
    color: black;
    text-align: center;

}

.page-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #90ee90;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
