.Card {
    flex: ;
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin: 50px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    content:close-quote;
}


    .Card .Conteudo {
        flex: 1;
        padding: 15px 0px;
        background-color: #fff;
        color: #000;
    }

    .Card .Footer {
        background-color: #000;
        color: #fff;
        padding: 5px 0px;
    }
